{{extend 'layout.html'}}

{{block head}}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Archivo+Narrow|Lato|Lobster||Roboto+Slab|Raleway|Roboto" rel="stylesheet">
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var sign_up_user_url = "{{=URL('api', 'sign_up_user')}}";
  var get_users_url = "{{=URL('api', 'get_users')}}";
  var delete_message_url = "{{=URL('api','delete_message')}}";
</script>
<script src="{{=URL('static', 'js/dropzone.js')}}"></script>
{{end}}

<div class="main_content">
  <div id="vue-div" class="display:none">
    <div class="header_style" v-if="!home">
    <nav class="navbar navbar-expand-lg navbar-light bg-faded other-nav"  style="background-color: white">
        <!-- <span style="display:inline-block; width: 750;"></span> -->
      <a class="nav-item nav-link" id="other-nav" href="#" v-on:click="hom()">
      <i class="fa fa-home fa-lg"></i>Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link mr-auto" id="other-nav" href="#" v-on:click="exp()">
            <i class="fa fa-laptop fa-lg"></i>Projects</a>
          <a class="nav-item nav-link" id="other-nav" href="#" v-on:click="edu()">
            <i class="fa fa-book fa-lg"></i>Education</a>
          <a class="nav-item nav-link" id="other-nav" href="#" v-on:click="cont()">
            <i class="fa fa-phone fa-lg"></i>Contact</a>
        </div>
      </div>
    </nav>
  </div>





    <div class="" v-if="home" >
      <div class="home">
              <img src="https://www.peachjar.com/img/pj-assets/apple-desk-laptop-working.jpg" class="home-image" alt="" >
              <div class="top-left">
                <nav class="navbar navbar-expand-lg navbar-light home-nav" style="background-color:#1C2838" style="background-color: white">

                  <!-- <span style="display:inline-block; width: 750;"></span> -->
                  <a class="nav-item nav-link" href="#" v-on:click="hom()">
                  <i class="fa fa-home fa-lg">Home</i></a>
                  <button style="background-color:white;"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-item nav-link" id="home-nav" href="#" v-on:click="exp()">
                        <i class="fa fa-laptop fa-lg"></i>Projects</a>
                      <a class="nav-item nav-link" id="home-nav" href="#" v-on:click="edu()">
                        <i class="fa fa-book fa-lg"></i>Education</a>
                      <a class="nav-item nav-link" id="home-nav" href="#" v-on:click="cont()">
                        <i class="fa fa-phone fa-lg"></i>Contact</a>
                    </div>
                  </div>
                </nav>
              </div>
              <div class="bottom-right">
                <h3>Arturo Lopez</h3>
              </div>
              <div class="top-right">
                <img src="../Arturo/static/images/favicon2.ico" style="height:35" alt="favico here">

              </div>
              <div class="centered" id="overlay">
                <div class="centered">
                  <div class="home-header">
                      Full Stack Web Developer.
                  </div>
                  <div class="home-body">
                      Designer and developer living in Bay Area, CA.
                      If you are a business with a website inquiry, you can get in touch with me here.
                  </div>
                  <a input="submit" class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSeVwwLKa_Uy5eTbz-OVuPRParxhWhtaFPXQaG5tHgaU1juoZA/viewform?usp=sf_link">I need a website</a>
                  <!-- <button type="button" class="btn btn-primary btn-lg">Hire Me</button> -->
                </div>
              </div>
      </div>
      <div class="about-me">
        <br />
        <br />
        <br />
        <div class="about-body">
          <div class="container">
            <div class="about-padding">
              <p>I am currently an undergrad student at UC Santa Cruz, where I will be getting my
                Computer Science degree. I have passion for web development and front end design.
                You can find me on <a href="https://www.linkedin.com/in/arturo-lopez-936497158">LinkedIn</a>,
                 or check out my source code on <a href="https://github.com/alopez96">GitHub</a>
                 and <a href="https://bitbucket.org/arturolopez12/">Bitbucket</a>.
                I enjoy taking on new projects and learning new technologies.
              </p>
            </div>
            <div class="about-padding">
              <p>My passion for Programming began when I was first introduced to the field of
              Engineering in High School, and it was because I was interested in the idea of
              designing, building, and maintaining structures and systems.
              I went on to explore different Engineering
              fields at Community College, and I found Computer Science.
              Being a person who always questioned how things work, and how they are built,
              I was curious to understand how the technology I interacted with everyday
              was performing  the things it did.
              My interest in technology
              drove my desire to understand how it operates and how
              I can change it to design things of my own.
              </p>
            </div>
          </div>
        </div>
        <div class="service-padding">
          <div class="container">
            <div class="half web" id="service-padding">
              <img src="https://www.incrementors.com/blog/wp-content/uploads/2016/11/Web-development-History-Facts-730x410.jpg" alt="">
              <p>
                As a <strong>full stack Web Developer</strong>,
                I build fully responsive webpages, and
                I have used the <strong>Web2py</strong> framework, <strong>Python</strong> for backend scripting, <strong>Vue.js</strong> for frontend, and <strong>Bootsrap</strong> and CSS
                for styling.
                I am comfortable with learning new platforms and libraries, and am currently
                working on developing with <strong>Django</strong> and <strong>React.js</strong>.
              </p>
            </div>
          </div>
        </div>
        <div class="container-fluid hobbies">
          <div class="container">
            <div class="third">
              <img src="https://ithacatrails.org/images/activity-icon-hiking.svg" class="hiking-img" alt="">
            </div>
            <div class="third">
              <div class="about-padding text-center" id="hobbies-about">
                <p>On my time off, I enjoy staying active by playing soccer, hiking, and working out, and riding my bike.
                </p>
              </div>
            </div>
            <div class="third">
              <img src="https://img.clipartimage.com/download-png-images-football-players-clipart-black-and-white-1300_1039.png" class="soccer-img" alt="">
            </div>
          </div>
        </div>
        <div class="views">
          <div class="container">
            <div class="third">
              <img src="../Arturo/static/images/IMG1.jpg" alt="">
            </div>
            <div class="third">
              <img src="../Arturo/static/images/IMG2.JPG" alt="">
            </div>
            <div class="third">
              <img src="../Arturo/static/images/IMG3.jpg" alt="">
            </div>

          </div>
        </div>
        <hr class="sexy_line" />
        <div class="text-center">
          <h4>If you are interested in doing a project with me, message me</h4>
          <address>
            <a class="blue_button btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfIqq3jsPJx837YTwdxciUiHg1kRPT5HpZqz-IebjTGKyKhUg/viewform?usp=sf_link">Work with me</a><br>
          </address>
        </div>
      </div>
    </div>


    <div class="" v-if="experience">
      <br />
      <div class="container">
        <div class="cards">
          <div >
            <div class="container">
              <div class="twothirds">
                <a class="card-img1 text-center" href="http://socer-a512d.appspot.com/Avalos">
                  <img border="0" alt="android image error" src="https://i.imgur.com/LnXFb4s.png" >
                </a>
              </div>
              <div class="third">
                <div class="card-body">
                  <h4 class="card-title" style="color:#4c4c4c	">Make Up Artist</h4>
                  <p class="card-text card-desc">
                    Business website for makeup artist.
                  </p>
                  <hr class="sexy_line"/>
                  <p>
                    <button class="not-clickable btn btn-sm btn-danger">Web2py</button>
                    <button class="not-clickable btn btn-sm btn-danger">VueJS</button>
                    <button class="not-clickable btn btn-sm btn-danger">HTML</button>
                    <button class="not-clickable btn btn-sm btn-danger">CSS</button>
                    <button class="not-clickable btn btn-sm btn-danger">Python</button>
                    <button class="not-clickable btn btn-sm btn-danger">Bootstrap</button>
                </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="sexy_line2" />
          <div>
            <div class="container">
              <div class="twothirds">
                <a class="card-img1" href="http://socer-a512d.appspot.com/soccer">
                  <img border="0" alt="webpage image error"  src="https://i.imgur.com/Y91bp8q.png" >
                </a>
              </div>
              <div class="third">
                <div class="card-body">
                  <h4 class="card-title" style="color:#4c4c4c">Pick Up Soccer</h4>
                  <p class="card-text card-desc">
                    Website for people looking to play soccer with others nearby.
                  </p>
                  <hr class="sexy_line"/>
                  <p>
                    <button class="not-clickable btn btn-sm btn-danger">Web2py</button>
                    <button class="not-clickable btn btn-sm btn-danger">VueJS</button>
                    <button class="not-clickable btn btn-sm btn-danger">HTML</button>
                    <button class="not-clickable btn btn-sm btn-danger">CSS</button>
                    <button class="not-clickable btn btn-sm btn-danger">Python</button>
                    <button class="not-clickable btn btn-sm btn-danger">Bootstrap</button>
                    <button class="not-clickable btn btn-sm btn-danger">Firebase</button>
                </p>
                </div>
              </div>
            </div>
          </div>
          <hr class="sexy_line2"/>
          <div >
            <div class="container">
              <div class="twothirds">
                <a class="card-img3 text-center" href="#" >
                  <img border="0" alt="android image error" src="https://i.imgur.com/bFV1JHx.png"  >
                </a>
              </div>
              <div class="third">
                <div class="card-body">
                  <h4 class="card-title" style="color:#4c4c4c">Game Up</h4>
                  <p class="card-text card-desc">
                    Android App for gamers to connect with others to create and join events.
                  </p>
                  <hr class="sexy_line"/>
                  <p>
                    <button class="not-clickable btn btn-sm btn-danger">Android Studio</button>
                    <button class="not-clickable btn btn-sm btn-danger">Java</button>
                    <button class="not-clickable btn btn-sm btn-danger">Firebase</button>
                </p>
                </div>
              </div>
              <br />
              <br />
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="education" v-if="education">
        <div class="container">
          <div class="ed-header">
            <div class="container" id="school">
              <div class="third">
                <img src="https://static1.squarespace.com/static/529bcb8ae4b0e021fe8b58ef/t/5840c25e46c3c4e5e4b16b8f/1480639078189/" width="100%;" alt="">
                <img src="http://conservationscholars.ucsc.edu/wp-content/uploads/UCSC_seal_logo.png" height="27%;" alt="">
              </div>
              <div class="third">
                <p>
                  I have a <strong>Mathematics Associates</strong> degree from
                  <a href="https://www.santarosa.edu/">Santa Rosa Junior College</a> and
                  I will have my <strong>Computer Science Bachelor's</strong> in fall 2019, from <a href="https://www.ucsc.edu/">UC Santa Cruz</a>.
                </p>
                <br />
                <br />
                <br />
                <br />
                <br />
              </div>
            </div>
          </div>

          <div class="courses" id="courses">
            <div class="container">
              <div class="half">
                <h4>Relavant Courses</h4>
                <ul>
                  <li>Algorithm Analysis</li>
                  <li>Computer Architecture</li>
                  <li>Web Development</li>
                  <li>Mobile Applications</li>
                  <li>Intro to Java and C</li>
                  <li>Assembly Language</li>
                  <li>UNIX/ Linux</li>
                </ul>
              </div>
              <div class="half">
                <h4>Languages</h4>
                <ul>
                  <li>HTML, CSS</li>
                  <li>JavaSCript</li>
                  <li>Python</li>
                  <li>Java, C , C++</li>
                  <li>MIPS Assembly</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="programs">
            <h3>Programs</h3>
            <p>
              I am an undergrad student constantly looking to get involved in activities that go beyond classroom learning.
            </p>
            <div class="container" id="shpe">
              <div class="third">
                <img src="http://shpeboston.org/wp-content/uploads/2017/11/shpe-logo.png" width="50%;" alt="">
              </div>
              <div class="twothirds">
                <h5>Society of Hispanic Professional Engineers (SHPE)</h5>
                  <p>SHPE’s mission is to change lives by empowering the Hispanic
                  community to realize its fullest potential and to impact the world
                  through STEM awareness, access, support and development, which advances
                  their vision of a world where Hispanics are highly valued and influential as the
                  leading innovators, scientists, mathematicians and engineers.</p>
                  <a class="btn btn-primary btn-sm" id="edu-btn" href="http://www.shpe.org/">Visit SHPE</a> </li>
              </div>
            </div>
            <div class="container" id="mep">
              <div class="third">
                <img src="https://mesa.ucsc.edu/images/msp-logo/color-banner" width="70%;" alt="">
              </div>
              <div class="twothirds">
                <h5>MESA Engineering Achievement (MEP)</h5>
                  <p>MESA provides educationally and economically disadvantaged
                  students and their families with the essential skills and resources
                  to achieve success in school, career, life, and STEM-related disciplines.</p>
                <a class="btn btn-primary btn-sm" id="edu-btn" href="https://mep.soe.ucsc.edu/">Visit MEP</a>
              </div>
            </div>
          </div>
          <div class="extra">
            <div class="container">
              <div class="third">
                <img src="http://rotaractsantacruzcounty.org/wp-content/uploads/2016/10/Rotaract-Logo2.png" width="60%;" alt="">
              </div>
              <div class="twothirds">
                <h5>UC Santa Cruz Rotaract Club</h5>
                <p>A service, leadership, professional and community
                  service organization (often miscommunicated as a Social Service Club)
                  for young men and women between the ages 18–30.
                </p>
                <a class="btn btn-primary btn-sm" id="edu-btn" href="https://www.rotary.org/en/get-involved/rotaract-clubs">Visit Rotaract</a>
              </div>
            </div>
          </div>
        </div>


    </div>

    <div class="text-center" v-if="contact" id="contact">
      <div v-if="!form">
      <h2>Contact Me</h2>
      <img src="../Arturo/static/images/arturo.JPG" alt="">
      <h2>
        <div class="spacing">
          <a href="https://www.linkedin.com/in/arturo-lopez-936497158" class="fa fa-linkedin fa-lg"></a>
          <a href="https://twitter.com/ArturoL95987525" class="fa fa-twitter fa-lg"></a>
          <a href="https://github.com/alopez96" class="fa fa-github fa-lg"></a>
          <a href="https://bitbucket.org/arturolopez12/" class="fa fa-bitbucket fa-lg"></a>
        </div>
      </h2>
      <br />
      <div>
        <form>
          <div class="container">
            <div class="half">
              <div class="form-group">
                <label>First and Last Name</label>
                <input type="text" v-model="name" class="form-control" aria-describedby="emailHelp">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" v-model="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>

            </div>
            <div class="half">
              <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
              </div>
            </div>
          </div>
          <button type="submit" v-on:click="add_user" href="#" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
    <br />
    <div v-if="form">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Org</th>
        <th>Reason</th>
        <th>Sent on</th>
        <th>id</th>
        <th>_idx</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user in users">
        <td ><i class="fa"></i></td>
        <td>${user.name}</td>
        <td>${user.email}</td>
        <td>${user.phone_number}</td>
        <td>${user.org}</td>
        <td>${user.reason}</td>
        <td>${user.sent_on}</td>
        <td>${user.id}</td>
        <td>${user._idx}</td>
        <td><button type="button" name="button" class ="btn btn-danger"v-on:click="delete_message(user.id, user._idx)">delete</button> </td>
      </tr>
      </tbody>
    </table>
  </div>



  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
