a {color:#26a69a}
a:not(.btn):not(.noeffect):hover {color:#26a69a}
a:not(.btn):not(.noeffect):after {background-color:#26a69a}
.btn, button, [type=button], [type=submit] {background-color:#26a69a; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #26a69a}
.tags.dismissible > span.off:hover {background-color:#26a69a}


.list-group-item{
  color:#3385ff;
}

.list-group-item:hover{
  cursor: pointer;
  background: #e6e6e6;
}

hr {
  background-color: #A9A9A9; height: 1px; border: 0;
}

h4{
  padding-top:25px;
  padding-bottom:25px;
}

.spacing a{
   padding: 30px;
}

.blue_button{
  background-color: #3385ff;
}

 .navbar{

}

#contact a{
  background-color: white;
  border: 2px solid white;
  border-radius: 12px;
}

#contact button{
  color: white;
  border: 2px solid white;
  border-radius: 12px;
}

.card-img-top{
  border: 4px solid #3385ff;
  border-radius: 10px;
}

.round_image{
  border: 4px solid black;
 border-radius: 10px;
}



/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    text-align: center;
}

.home-image{
  width: 100%;
  height:100%;
  margin: 0;
}


#overlay {
     position: absolute;
     clear: float;
     width: 100%;
     height: 52%;
     background-color: rgba(0, 0, 0, 0.6);
     color: #ffffff;
}

.home-header{
  font-size: 60px;
}

.home-body{
  font-size: 20px;
  line-height: 160%;
}

#home-nav{
  color:white;
}

.home-nav i{
  color:white;
}

.other-navbar{
  margin-left: 10px;
  margin-right: 25px;
  margin-top:5px;
}
