a {color:#26a69a}
a:not(.btn):not(.noeffect):hover {color:#26a69a}
a:not(.btn):not(.noeffect):after {background-color:#26a69a}
.btn, button, [type=button], [type=submit] {background-color:#26a69a; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #26a69a}
.tags.dismissible > span.off:hover {background-color:#26a69a}


.list-group-item{
  color:#6b6b6b	;
}

.list-group-item:hover{
  cursor: pointer;
  background: #e6e6e6;
}

hr {
  background-color: #A9A9A9; height: 1px; border: 0;
}

h4{
  padding-top:25px;
  padding-bottom:25px;
}

.spacing a{
   padding: 30px;
}

.blue_button{
  background-color: #3385ff;
}


#contact a{
  background-color: white;
  border: 2px solid white;
  border-radius: 12px;
}

#contact button{
  color: white;
  border: 2px solid white;
  border-radius: 12px;
}



.round_image{
  border: 4px solid black;
 border-radius: 10px;
}



/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 2%;
    left: 2%;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 4%;
    right: 4%;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color:white;
    font-family: 'Lato', sans-serif;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lato', sans-serif;
}

.container {
    position: relative;
    text-align: center;
}

.home-image{
  width: 100%;
  height:100%;
  margin: 0;
}


#overlay {
     position: absolute;
     clear: float;
     width: 100%;
     height: 52%;
     /* background-color: rgba(0, 0, 0, 0.6); */
     color: #ffffff;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
.home-header{
  /* font-size: 60px; */
  font-size: 4vw;
}

.home-body{
  /* font-size: 20px; */
  line-height: 160%;
  font-size: 2vw;
}

#home-nav{
  color:white;
}

.home-nav i{
  color:white;
}

#other-nav{
  color:#4c4c4c	;
  font-weight: 550;
  font-family: 'Loto';
}


.other-nav i{
  color:black;
}

.other-navbar{
  margin-left: 10px;
  margin-right: 25px;
  margin-top:5px;
}

.card{
  padding-left:100px;
  padding-right:100px;
  border:white;

}
.card-img-top{
  padding-top: 50px;
}


.card-img1 img{
  border: 3px solid #6b6b6b;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  width:auto;
  height:40%;
}

.card-img3 img{
  border: 3px solid /*#3385ff*/#6b6b6b;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  width:auto;
  height:45%;
}


.sexy_line {
    margin: 25px 0;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, gray));
}


.about-me{
  line-height: 200%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.about-padding{
   margin: 5% 20% 1% 5%;
}

.service-padding{
   margin: 5% 5% 5% 5%;
}

#service-padding{
  padding:0% 0% 0% 0%;

}

.card-desc{
  font-family: 'Raleway', sans-serif;
  color:black;
  font-weight: 470;
  line-height: 130%;
  font-size: 22px;
}


.not-clickable{
  pointer-events: none;
}

.sexy_line2 {
    margin-top:150px;
    margin-bottom: 100px;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, gray));
}

.education div{
  margin-top:2%;
  margin-bottom:12%;
}

.education p{
  font-size: 20px;
  line-height: 150%;
  font-family: 'Raleway', sans-serif;
}


.courses li{
  margin-top:15px;
  font-weight: 500;
}

.education a{
  color:#006dcc;
}

#edu-btn{
  color:white;
}

.courses{
    width: 80%;
    height: 80%;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://media.istockphoto.com/photos/concept-of-education-or-back-to-school-on-green-background-picture-id649615432?k=6&m=649615432&s=612x612&w=0&h=P03xv1dMmgVWq9oOzCoY7-7Vv824NKyiEVmXLoH9Ry8=");
    position: relative;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 8px;
}

.android img{
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  width:80%;
  height:260;
  box-shadow: 5px 10px #888888;
  margin-bottom: 50px;
}

.web img{
  width:auto;
  height:45%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.android p{
  margin: 0px 25px 0px 25px;
}

.web p{
  line-height: 150%;
  font-family: 'Lato', sans-serif;
}

.ed-header p{
  font-family: 'Roboto Slab', serif;
  font-size: 21px;
  line-height: 140%;
  font-weight: 480;
  margin-top: 10%;

}

.ed-header{
  padding: 2% 0% 3% 0%;
}

.about-body p{
  font-family: 'Lato', sans-serif;
}


#contact img{
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  width:auto;
  height:32%;
  box-shadow: 5px 7px #888888;
  margin: 0% 0% 2% 0%;

}

#shpe{
  margin-top: 3%;
  margin-bottom: -3%;
}

#mep{
  margin-bottom: -6%;

}

#school{

}

.hobbies{
  padding-top: 3%;
  background: #4682B4;
  color:white;
  width:100%;
  height:auto;

}

#hobbies-about{
  padding-left: 6%;
  padding-top:7%;
  font-size: 22px;
}

.hiking-img{
  padding-top: 5%;
  padding-bottom: 4%;
  height:auto;
  width:auto;
}

.soccer-img{
  padding-top: 1%;
  padding-bottom: 4%;
  height:40%;
  width:auto;
}


.views img{
  padding-top: 8%;
  padding-bottom: 5%;
  width:auto;
  height:70%;
  border-radius: 4%;
}
