a {color:#26a69a}
a:not(.btn):not(.noeffect):hover {color:#26a69a}
a:not(.btn):not(.noeffect):after {background-color:#26a69a}
.btn, button, [type=button], [type=submit] {background-color:#26a69a; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #26a69a}
.tags.dismissible > span.off:hover {background-color:#26a69a}


.list-group-item{
  color:#3385ff;
}

.list-group-item:hover{
  cursor: pointer;
  background: #e6e6e6;
}

hr {
  background-color: #A9A9A9; height: 1px; border: 0;
}

h4{
  padding-top:25px;
  padding-bottom:25px;
}

.spacing a{
   padding: 30px;
}

.main_content1 {
    padding-right: 50px;
    padding-bottom: 80px;
    padding-left: 100px;
    margin-top: 0;
}

.blue_button{
  background-color: #3385ff;
}
.blue_button:hover{
  color: black;
}

 .navbar{
  border: 2px solid white;
  border-radius: 12px;
  background:transparent;
}

#contact a{
  background-color: white;
  border: 2px solid white;
  border-radius: 12px;
}

#contact button{
  color: white;
  border: 2px solid white;
  border-radius: 12px;
}

.card-img-top{
  border: 4px solid #3385ff;
  border-radius: 10px;
}

.round_image{
  border: 4px solid black;
 border-radius: 10px;
}

.home_header{
    font-weight: 600;
    font-size: 20px;
    line-height:150%;
    font: sans-serif;
}

.home_header h3{
    font-weight: 345;
    font-size: 50px;
    line-height:150%;
}

.home_subhead{
  color: #696969;
  font-size: 30px;
  font-weight: 450;
}

.fixed_navbar{
  overflow: hidden;
    position: fixed;
    top: 70; /* Position the navbar at the top of the page */
    width: 12%; /* Full width */
}
.fixed_navbar a{
  color: black;
  font-weight: 400;
  font-size: 20px;
}


.main_content {
  background-image:
    /* linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), */
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTi9iS_qHGCDEH8B-96XOjL88y2hzfqKqlloVIWLFLzOW-1OEOftw");
    font: sans-serif;

}

.link_color{
  color: #3385ff;
  text-shadow: 1.5px 1.5px white;
}

.link_color1{
  color: #3385ff;
  font-weight: 600;
  font-size: 20px;
  text-shadow: 1.5px 1.5px white;
}

.nav li{
  margin: 0 0 20px 0;
}


.card-body p{
  line-height: 160%;
  font-weight: 500;
}

#education_info p{
  line-height: 170%;
  font-weight: 300;
  color:black;
}
