a {color:#26a69a}
a:not(.btn):not(.noeffect):hover {color:#26a69a}
a:not(.btn):not(.noeffect):after {background-color:#26a69a}
.btn, button, [type=button], [type=submit] {background-color:#26a69a; color:white}
.progress .determinate {background-color:#26a69a}
.progress .indeterminate {background-color:#26a69a}
.tags > span {background-color: #26a69a}
.tags.dismissible > span.off:hover {background-color:#26a69a}


.list-group-item{
  color:#3385ff;
}

.list-group-item:hover{
  cursor: pointer;
  background: #e6e6e6;
}



hr {
  background-color: #A9A9A9; height: 1px; border: 0;
}

h4{
  padding-top:25px;
  padding-bottom:25px;
}
